/*UTILITY*/

.floatleft { float: left; }
.floatright { float: right; }

body { margin: 0; font-family: 'Montserrat', sans-serif; color: rgb(100,100,100);letter-spacing: 0.08em;}

/*STRUCTURE*/

header { width: 100%; height: 60px; background: rgb(0,0,0); padding: 5px 0; margin-bottom: 5px; }
	#logo { width: 200px; height: 60px; background: rgb(200,200,200); float: left; }
	nav { float: left; margin-left: 305px; }
	nav li { display: inline; margin-right: 20px; font-weight: bold; font-size: 18px; }
	nav li a { color: rgb(255,255,255); text-decoration: none; }
	nav li a:hover { color: rgb(150,150,150); text-decoration: underline; }
	.button { width: 80px; height: 25px; background: url(images/buttonbg.jpg); text-align: center; padding: 10px 5px 5px;margin: 7px 0px 0px 0px;border: 1px solid rgb(205,101,14); border-radius: 5px; cursor: pointer; box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.5), 0px 2px 0px 0px rgba(185,91,12,1), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5)}
	.button a { color: rgb(255,255,255); text-decoration: none; text-shadow: 2px 2px 2px rgba(0,0,0,0.25); }
	.button:hover { background: url(images/buttonbg_o.jpg); }

section.hero { width: 100%; height: 400px; background: url(bgplaceholder.jpg); background-size: 100% 100%; padding: 5px 0; margin-bottom: 5px; }
	.heroimage { width: 480px; height: 380px; background: rgb(150,150,150); float: left; margin: 10px 0 0 20px; }
	.herocontent { width: 400px; float: left; margin-left: 20px; padding-top: 40px; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); }
	section.hero h1 { font-size: 45px; margin-bottom: -10px; font-family: 'Roboto', sans-serif;}
	section.hero p { margin-bottom: 60px; }
	section.hero .button { width: 225px; height: 45px; padding-top: 20px; font-size: 25px;}

section.features { width: 940px; height: 350px; margin: 0 auto 0px; padding: 5px 0; }
	section.features h2 { color: #6574B2; font-family: 'Roboto', sans-serif; font-size: 38px; text-align: center; margin-bottom: -15px; font-family: 'Actor', sans-serif; font-weight: normal}
	section.features h4 { font-size: 20px; font-weight: normal; color: rgb(200,200,200); text-align: center; margin-bottom: 40px; }
	section.features aside { width: 286px; height: 200px; float: left; text-align: center; margin-left: 20px; }
	section.features aside img { width: 100%; height: 150px; background: rgb(200,200,200); }
	section.features aside h3 {font-size: 22px; color: rgb(113,80,109); }

section.organize { width: 100%; height: 260px; background: rgb(220,220,220); padding: 5px 0; margin-bottom: 5px; margin-top: 35px;}
	section.organize img, section.share img { width: 440px; height: 225px; float: left; margin-left: 20px; margin-top: 20px; background: rgb(200,200,200); }
	.organizecontent, .sharecontent { float: left; margin-left: 20px; width: 440px; }

section.share { width: 940px; height: 260px; background: rgb(220,220,220); margin: 0 auto 5px; padding: 5px 0; }

section.get { width: 100%; height: 100px; background: rgb(100,100,100); padding: 5px 0; margin-bottom: 5px; }
	section.get h2 { font-size: 30px; float: left; color: rgb(255,255,255); margin-left: 60px; margin-top: 30px; }
	section.get .button { margin-right: 60px; margin-top: 25px; }

footer { width: 100%; height: 60px; background: rgb(200,200,200); padding: 5px 0; text-align: center; }

.container { width: 940px; height: 100%; margin: 0 auto; }
